%h2= "Folder: #{@path}"
%table
  %tr
    %th= "filename"
  - @contents.each do |content|
    %tr
      %td= link_to h(content['path']), "http://dl.dropbox.com/u/#{@uid}/#{h content['path'].gsub(/\/Public\//, '')}"
